RewriteEngine On

# Redirect Trailing Slashes If Not A Folder...
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} (.+)/$
RewriteRule ^ %1 [L,R=301]

# USER API
RewriteRule ^user/me/?$ /user_api/me.php [NC]
RewriteRule ^user/login/?$ /user_api/login.php [NC]
RewriteRule ^user/logout/?$ /user_api/logout.php [NC]
RewriteRule ^user/register/?$ /user_api/register.php [NC]
RewriteRule ^user/resend-code/?$ /user_api/resend-code.php [NC]
RewriteRule ^user/confirm-registration/?$ /user_api/confirm-registration.php [NC]
RewriteRule ^user/set-password/?$ /user_api/set-password.php [NC]
RewriteRule ^user/set-name/?$ /user_api/set-name.php [NC]
RewriteRule ^user/update-email/?$ /user_api/update-email.php [NC]
RewriteRule ^user/confirm-update-email/?$ /user_api/confirm-update-email.php [NC]
RewriteRule ^user/forgot-password/?$ /user_api/forgot-password.php [NC]
RewriteRule ^user/reset-password/?$ /user_api/reset-password.php [NC]
RewriteRule ^user/update-password/?$ /user_api/update-password.php [NC]
RewriteRule ^user/login-mfa/?$ /user_api/login-mfa.php [NC]
RewriteRule ^user/send-mfa/?$ /user_api/send-mfa.php [NC]
RewriteRule ^user/confirm-mfa/?$ /user_api/confirm-mfa.php [NC]
RewriteRule ^user/update-mfa/?$ /user_api/update-mfa.php [NC]
RewriteRule ^user/update-totp/?$ /user_api/update-totp.php [NC]
RewriteRule ^user/confirm-totp/?$ /user_api/confirm-totp.php [NC]
RewriteRule ^user/get-iplog/?$ /user_api/get-iplog.php [NC]
RewriteRule ^user/update-avatar/?$ /user_api/update-avatar.php [NC]

# ADMIN API
RewriteRule ^admin/login/?$ /admin_api/login.php [NC]
RewriteRule ^admin/login-mfa/?$ /admin_api/login-mfa.php [NC]
RewriteRule ^admin/me/?$ /admin_api/me.php [NC]
RewriteRule ^admin/confirm-mfa/?$ /admin_api/confirm-mfa.php [NC]
RewriteRule ^admin/confirm-totp/?$ /admin_api/confirm-totp.php [NC]
RewriteRule ^admin/confirm-update-email/?$ /admin_api/confirm-update-email.php [NC]
RewriteRule ^admin/forgot-password/?$ /admin_api/forgot-password.php [NC]
RewriteRule ^admin/reset-password/?$ /admin_api/reset-password.php [NC]
RewriteRule ^admin/logout/?$ /admin_api/logout.php [NC]
RewriteRule ^admin/send-mfa/?$ /admin_api/send-mfa.php [NC]
RewriteRule ^admin/update-email/?$ /admin_api/update-email.php [NC]
RewriteRule ^admin/update-mfa/?$ /admin_api/update-mfa.php [NC]
RewriteRule ^admin/update-totp/?$ /admin_api/update-totp.php [NC]
RewriteRule ^admin/new-totp/?$ /admin_api/new-totp.php [NC]
RewriteRule ^admin/update-password/?$ /admin_api/update-password.php [NC]
RewriteRule ^admin/get-iplog/?$ /admin_api/get-iplog.php [NC]
RewriteRule ^admin/update-setting/?$ /admin_api/update-setting.php [NC]
RewriteRule ^admin/update-avatar/?$ /admin_api/update-avatar.php [NC]

# PUBLIC API
RewriteRule ^public/contact-us/?$ /public_api/contact-us.php [NC]
RewriteRule ^public/stripe-payment/?$ /public_api/stripe-payment.php [NC]
RewriteRule ^public/reset/?$ /public_api/reset.php [NC]
RewriteRule ^public/get-year/?$ /public_api/get-year.php [NC]
RewriteRule ^public/get-countries/?$ /public_api/get-countries.php [NC]
RewriteRule ^public/get-dev-mode/?$ /public_api/get-dev-mode.php [NC]
